body{
    background-color: whitesmoke;
    height: auto;
    
    font-family: 'Roboto Condensed', sans-serif;
    color: beige;
}

div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    min-width:500px ;

}

p{font-family: 'Roboto', sans-serif;
font-size: medium;
line-height: 30px;
}
.sticker1{
    background-color:#F78B2D;
    height: 30rem;
    width: 22rem;
    padding: 5px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
}
.sticker2{
    background-color:#008080;
    height: 30rem;
    width: 22rem;
    padding: 5px;
    display: flex;
    justify-content: flex-start;

}

    .sticker3{
    background-color:#004d4d;
    height: 30rem;
    width: 22rem;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;

}
.content{
    padding: 60px;
}

.icons{
    color:beige;
    font-size:50px;
}

.btn{
    margin-top:30px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    color:#F78B2D;
    font-size: large;
    background-color: beige;
    border-color: beige;

}

@media(min-width:700px){
    div.container{
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: ;
    }
    .sticker1{
        border-radius: 0px;
        border-top-left-radius: 10px ;
        border-bottom-left-radius: 10px ;
    }

    .sticker3{
        border-radius: 0px;
        border-top-right-radius: 10px ;
        border-bottom-right-radius: 10px ;
    }
}